<ion-tabs> 
  <ion-header slot="top"><h1 class="ion-text-center">Tat ca bai hat</h1></ion-header>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="singers">
      <ion-icon name="people"></ion-icon>
      <ion-label>Singer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="songs">
      <ion-icon name="musical-note"></ion-icon>
      <ion-label>Song</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="albums"></ion-icon>
      <ion-label>Albums</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="films">
      <ion-icon name="film" ></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>