<ion-header>
  <ion-toolbar>
    <h1>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/songs"></ion-back-button>
      </ion-buttons>
    </h1>
    <ion-title class="text-center"><h1>Music</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img [src]="detail.image" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>{{detail.Singer}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4>{{detail.Name}}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="clear">Swipe up <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 class="text-center">Lyric: {{detail.Name}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>{{detail.content}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
